name: Build mingw-w64-libs image

on:
  workflow_dispatch:
    inputs:
      tags:
        description: The tags of the built image
        default: cgdoc/mingw-w64-libs:posixv1.7-v1.0
        required: true
      builder:
        description: The tag of the docker builder image
        default: cgdoc/mingw-w64-multilib:posix-v1.7
        required: true

jobs:
  build_image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ github.event.inputs.tags }}
          build-args: |
            MINGW_W64_IMG=${{ github.event.inputs.builder }}